<VirtualHost *:{{ apache.port }}>
    DocumentRoot {{ apache.documentroot.path }}
    ServerName {{ apache.servername }}
    ErrorLog logs/{{ apache.servername }}-error_log
    CustomLog logs/{{ apache.servername }}-access_log common
    <Directory "{{ apache.documentroot.path }}">
        Options FollowSymlinks
        AllowOverride All
        Require all granted
    </Directory>

{% if apache.redirectssl %}
    RewriteEngine on
    RewriteCond %{HTTPS} off
    RewriteCond %{REQUEST_URI} !(^/\.well-known/)
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
{% endif %}
</VirtualHost>
