[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0

port={{mysql.config.port}}
max_connections = {{mysql.config.maxconn}}
character-set-server = {{mysql.config.charset}}

{% if mysql.log.slowquery.enable %}
slow_query_log = 1
slow_query_log_file = {{mysql.log.slowquery.path}}
long_query_time = {{mysql.log.slowquery.querytime}}
  {% if mysql.log.slowquery.noindex -%}
    log_queries_not_using_indexes = ON
  {% endif %}
{% endif %}

{% if mysql.log.general.enable %}
general_log = 1
general_log_file = {{mysql.log.general.path}}
{% endif %}

{# rootのパスワード設定後にコメントアウト #}
skip-grant-tables
skip-networking
{# ここまで #}

{# v5.7.11未満では設定を有効に #}
{# default_password_lifetime=0 #}

[mysqld_safe]
log-error={{mysql.log.error.path}}
pid-file=/var/run/mysqld/mysqld.pid

[mysql]
default-character-set = {{mysql.config.charset}}
